<button
  [type]="type"
  [disabled]="disabled || loading"
  [class]="classes"
  matRipple
  [matRippleDisabled]="disabled"
  (click)="onButtonClick($event)">
  <!-- Loading spinner -->
  <mat-icon *ngIf="loading" class="btn-app__icon btn-app__icon--left animate-spin">sync</mat-icon>

  <!-- Left icon -->
  <mat-icon *ngIf="icon && iconPosition === 'left' && !loading" class="btn-app__icon btn-app__icon--left">{{ icon }}</mat-icon>

  <!-- Content -->
  <span>
    <ng-content></ng-content>
  </span>

  <!-- Right icon -->
  <mat-icon *ngIf="icon && iconPosition === 'right' && !loading" class="btn-app__icon btn-app__icon--right">{{ icon }}</mat-icon>
</button>
