.data-grid-container {
  app-card {
    position: relative;
    
    &:hover {
      .group-hover\:opacity-100 {
        opacity: 1;
      }
    }
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
